 @import url("https://fonts.googleapis.com/css2?family=Lavishly+Yours&display=swap");

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:'Lavishly', sans-serif;
    text-align: center;

}
h1{
    color: pink;
    font-size: 55px;
    
}

a{
    color: white;
    text-decoration: none;
}

.navbar{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 25px 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}

.navbar .logo{
    font-size: 30px;
   font-weight: 700; 
}

.navbar ul {
    display: flex;

}

.navbar ul li {
    list-style: none;
    margin-left: 105px;
}

.navbar ul li a {
    font-size: 20px;
    font-weight: 500;
    transition: .5s;
}

.navbar ul li:hover a,
 .navbar ul li.active a {
    color:palevioletred;
}

.home{
    display: flex;
    align-items:center ;
    height: 100vh;
    padding: 60px 9% 0;
    color: pink;
}

.home-info h1 {
    font-size: 55px;

}

.home-info h2 {
    font-size: 32px;
    margin-top: -10px;
}

.home-info p {
    font-size: 16px;
    margin: 10px 0 25px;

}

.home-info .btn-sci {
    display: flex;
    align-items: center;
}

.home-info .btn-sci .sci{
    margin-left: 10px;

}

.home-info .btn-sci .sci a {
display: inline-flex;
padding: 8px;
border: 2px solid rebeccapurple;
border-radius: 50% ;
font-size: 20px;
color:hotpink;
margin: 0 8px;
transition: 5s;
}

.home-info .btn-sci .sci a:hover {
    background-color: rgb(180, 129, 180);
    color: black;
    box-shadow: 0 0 10px rgb(184, 77, 135);
}

.home-img .img-box{
    position: relative;
    width: 32vw;
    height:32vw ;
    border-radius: 50%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
overflow: hidden;

}
.home-img .img-box::before,
.home-img .img-box::after{
    content:"" ;
    position: absolute;
    width: 500px;
    height:500px ;
    background: conic-gradient(transparent, transparent, transparent,rgb(185, 114, 126));
}

.home-img .img-box .img-item {
    position: relative;
    width: 100%;
    height: 100%;
    background:rgb(185, 114, 126);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    z-index: 1;
    overflow: hidden;
}

.home-img .img-box .img-item img{
    position:absolute;
    display:block;
    width: 105%;
    object-fit: cover;
}

.bars-animation {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: -1;
}

.bars-animation .bar {
    width: 100%;
    height: 100%;
    background: black;
    transform: translateY(-100%);
animation: show-bars .5s ease-in-out forwards;
animation-delay: calc(.1s *var(--i));
}

@keyframes show-bars {
100% {
    transform: translateY(0%);
}
}



  .home-info p {
    font-size: 1.2rem;
    align-items: left;
    line-height: 1.8;
    margin-bottom: 15px;
    justify-content: left;
  }

  .home-info ul {
    margin-left: 1px;
    margin-top: 15px;
  }

  .home-info ul li {
    margin-bottom: 10px;
    font-size: 1.1rem;
    list-style: none;
  }

  .home-info strong {
    color: #4CAF50;
    justify-content: left;
  }

 